name: Linux Test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        go-version:
          - "1.24"
          - "1.25"
          - "1.26"
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Create a network namespace for unprivileged tests
        run: sudo ip netns add unpriv0

      - name: Run tests
        run: go test -v -race -tags gofuzz ./...
