name: Linux Integration Test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        go-version: 
          - "1.23"
          - "1.24"
          - "1.25"
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # v5.5.0
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Create a network namespace for privileged tests
        run: sudo ip netns add unpriv0

      - name: Build netlink test binary for privileged tests
        run: go test -c -race .

      - name: Run privileged netlink tests
        run: sudo ./netlink.test -test.v -test.run TestIntegration*

      - name: Build integration test binary for privileged tests
        working-directory: ./internal/integration
        run: go test -c -race .

      - name: Run privileged integration tests
        working-directory: ./internal/integration
        run: sudo ./integration.test -test.v
